.control__mark {
  padding: 18px 22px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.control__input:hover + .mark {
  border-color: rgba(68, 68, 68, 0.3);
}

.control__input[type="radio"]:checked + .mark {
  border-color: #62d1ba;
}
