.label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
    font-size: 19px;
    line-height: 18px;
  }
}
