.nav {
  width: 100%;
}

.nav--closed .nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.nav--opened {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}

.nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 34px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

.nav--opened .nav__toggle::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 10px;
  width: 21px;
  height: 20px;
  background-image: url("/img/menu-close.svg");
}

.nav__list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  list-style: none;
}

.nav__list--main {
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: 550px;
    top: 0;
  }
}

.nav__list--main .nav__item {
  min-width: 25%;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin-right: 35px;
    padding-top: 33px;
    height: 89px;

    &:first-child {
      border-right: 1px solid #ececec;
    }
  }
}

.nav__list--user {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    min-height: 89px;
  }
}

.nav__item {
  background-color: #ffffff;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border-top: none;
  }
}

.nav__list--main .nav__item--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    height: max-content;
    padding-top: 20px;
  }
}

.nav__list--user .nav__item {
  @media (min-width: $tablet-width) {
    border-left: 1px solid #ececec;
  }
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-right: 60px;
  padding-left: 76px;
  color: #000000;
  text-decoration: none;
  text-align: left;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.nav__link--desktop {
  @media (min-width: $desktop-width) {
    font-size: 15px;
  }
}

.nav__link--user {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding: 32px 50px 32px 82px;
  }
}

.nav__icon-user {
  position: absolute;
  top: 30px;
  left: 30px;
  fill: rgba(0, 0, 0, 0.2);

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }

  @media (min-width: $tablet-width) {
    top: 36px;
  }
}

.nav__form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 21px 30px;

  @media (min-width: $tablet-width) {
    padding: 30px 25px;
  }
}

.nav__btn {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &:hover .nav__btn-icon {
    fill: #63d1bb;
  }

  &:active .nav__btn-icon {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.nav__btn-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.nav__search {
  padding: 10px 6px;
  border: none;

  &:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__search::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
